header {
    padding: 12px;
    border-bottom: 1px solid #eee;
    background: white;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 100px;
    @include breakpoint($screen-sm-min) {
        width: 150px;
    }
}

.header-nav {
    a {
        display: inline-block;
        margin: 0 15px;
        font-family: $roboto;
        &:nth-last-child(1) {
            margin-right: 0;
        }
    }
}
