<header>
    <div class="container header-container">
        <img class="header-logo" src="http://christopherlis.com/img/cc-voyager-logo-small.svg" alt="Chris Courses' Voyager Logo">
        <nav class="header-nav">
            <a href="/">Home</a>
            {{!-- <a>Login</a> --}}
        </nav>
    </div>
</header>