<header>
    <div class="container header-container">
        <a href="/"><img class="header-logo" src="img/cc-voyager-logo.svg" alt="Chris Courses' Voyager Logo"></a>
        <nav class="header-nav">
            <a href="/">Home</a>
        </nav>
    </div>
</header>