<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
       {{> header }} 
        {{{body}}}
    </body>
</html>
