.m0 {
    margin: 0;
}

.mt0 {
    margin-top: 0;
}

.mb0 {
    margin-bottom: 0;
}

// Mobile Margin Top
.mmt10 {
    margin-top: 10px;
    @include breakpoint($screen-sm-min) {
        margin-top: 0;
    }
}

.mmt25 {
    margin-top: 25px;
    @include breakpoint($screen-sm-min) {
        margin-top: 0;
    }
}

.mmt50 {
    margin-top: 50px;
    @include breakpoint($screen-sm-min) {
        margin-top: 0;
    }
}

.mmt75 {
    margin-top: 75px;
    @include breakpoint($screen-sm-min) {
        margin-top: 0;
    }
}

.mmt100 {
    margin-top: 100px;
    @include breakpoint($screen-sm-min) {
        margin-top: 0;
    }
}

// Mobile Margin Bottom
.mmb10 {
    margin-bottom: 10px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: 0;
    }
}

.mmb25 {
    margin-bottom: 25px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: 0;
    }
}

.mmb50 {
    margin-bottom: 50px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: 0;
    }
}

.mmb75 {
    margin-bottom: 75px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: 0;
    }
}

.mmb100 {
    margin-bottom: 100px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: 0;
    }
}

// Mobile Padding Top
.mpt10 {
    padding-top: 10px;
    @include breakpoint($screen-sm-min) {
        padding-top: 0;
    }
}

.mpt25 {
    padding-top: 25px;
    @include breakpoint($screen-sm-min) {
        padding-top: 0;
    }
}

.mpt50 {
    padding-top: 50px;
    @include breakpoint($screen-sm-min) {
        padding-top: 0;
    }
}

.mpt75 {
    padding-top: 75px;
    @include breakpoint($screen-sm-min) {
        padding-top: 0;
    }
}

.mpt100 {
    padding-top: 100px;
    @include breakpoint($screen-sm-min) {
        padding-top: 0;
    }
}

// Mobile Padding Bottom
.mpb10 {
    padding-bottom: 10px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: 0;
    }
}

.mpb25 {
    padding-bottom: 25px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: 0;
    }
}

.mpb50 {
    padding-bottom: 50px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: 0;
    }
}

.mpb75 {
    padding-bottom: 75px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: 0;
    }
}

.mpb100 {
    padding-bottom: 100px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: 0;
    }
}

@include breakpoint($screen-sm-min) {
    // Margin Top
    .mt10 {
        margin-top: 10px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .mt50 {
        margin-top: 50px;
    }

    .mt75 {
        margin-top: 75px;
    }

    .mt100 {
        margin-top: 100px;
    }

    .mt150 {
        margin-top: 150px;
    }

    .mt200 {
        margin-top: 200px;
    }

    // Margin Bottom
    .mb10 {
        margin-bottom: 10px;
    }

    .mb15 {
        margin-bottom: 15px;
    }

    .mb25 {
        margin-bottom: 25px;
    }

    .mb50 {
        margin-bottom: 50px;
    }

    .mb75 {
        margin-bottom: 75px;
    }

    .mb100 {
        margin-bottom: 100px;
    }

    // Padding Top
    .pt10 {
        padding-top: 10px;
    }

    .pt25 {
        padding-top: 25px;
    }

    .pt50 {
        padding-top: 50px;
    }

    .pt75 {
        padding-top: 75px;
    }

    .pt100 {
        padding-top: 100px;
    }

    .pt125 {
        padding-top: 125px;
    }

    .pt150 {
        padding-top: 150px;
    }

    .pt175 {
        padding-top: 175px;
    }

    .pt200 {
        padding-top: 200px;
    }

    // Padding Bottom
    .pb10 {
        padding-bottom: 10px;
    }

    .pb25 {
        padding-bottom: 25px;
    }

    .pb50 {
        padding-bottom: 50px;
    }

    .pb75 {
        padding-bottom: 75px;
    }

    .pb100 {
        padding-bottom: 100px;
    }

    .pb150 {
        padding-bottom: 150px;
    }

    .pb200 {
        padding-bottom: 200px;
    }
}

.hide-desktop {
    @include breakpoint($screen-sm-min) {
        display: none;
    }
}

.hide-mobile {
    display: none;
    @include breakpoint($screen-sm-min) {
        display: block;
    }
}
