.container {
    max-width: 1170px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.m0 {
    margin: 0;
    @include breakpoint($screen-sm-min) {
        margin: initial;
    }
}

// margin-top
.mt0 {
    margin-top: 0;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt10 {
    margin-top: 10px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt25 {
    margin-top: 25px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt50 {
    margin-top: 50px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt75 {
    margin-top: 75px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt100 {
    margin-top: 100px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt125 {
    margin-top: 125px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt150 {
    margin-top: 150px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt175 {
    margin-top: 175px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

.mt200 {
    margin-top: 200px;
    @include breakpoint($screen-sm-min) {
        margin-top: initial;
    }
}

// margin-bottom
.mb0 {
    margin-bottom: 0;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb10 {
    margin-bottom: 10px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb25 {
    margin-bottom: 25px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb50 {
    margin-bottom: 50px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb75 {
    margin-bottom: 75px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb100 {
    margin-bottom: 100px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb125 {
    margin-bottom: 125px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb150 {
    margin-bottom: 150px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb175 {
    margin-bottom: 175px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

.mb200 {
    margin-bottom: 200px;
    @include breakpoint($screen-sm-min) {
        margin-bottom: initial;
    }
}

// padding-top
.pt0 {
    padding-top: 0;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt10 {
    padding-top: 10px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt25 {
    padding-top: 25px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt50 {
    padding-top: 50px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt75 {
    padding-top: 75px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt100 {
    padding-top: 100px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt125 {
    padding-top: 125px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt150 {
    padding-top: 150px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt175 {
    padding-top: 175px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

.pt200 {
    padding-top: 200px;
    @include breakpoint($screen-sm-min) {
        padding-top: initial;
    }
}

// padding-bottom
.pb0 {
    padding-bottom: 0;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb10 {
    padding-bottom: 10px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb25 {
    padding-bottom: 25px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb50 {
    padding-bottom: 50px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb75 {
    padding-bottom: 75px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb100 {
    padding-bottom: 100px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb125 {
    padding-bottom: 125px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb150 {
    padding-bottom: 150px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb175 {
    padding-bottom: 175px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

.pb200 {
    padding-bottom: 200px;
    @include breakpoint($screen-sm-min) {
        padding-bottom: initial;
    }
}

@include breakpoint($screen-sm-min) {
    .m0 {
        margin: 0;
    }

    // margin-top
    .mt0 {
        margin-top: 0;
    }

    .mt10 {
        margin-top: 10px;
    }

    .mt25 {
        margin-top: 25px;
    }

    .mt50 {
        margin-top: 50px;
    }

    .mt75 {
        margin-top: 75px;
    }

    .mt100 {
        margin-top: 100px;
    }

    .mt125 {
        margin-top: 125px;
    }

    .mt150 {
        margin-top: 150px;
    }

    .mt175 {
        margin-top: 175px;
    }

    .mt200 {
        margin-top: 200px;
    }

    // margin-bottom
    .mb0 {
        margin-bottom: 0;
    }

    .mb10 {
        margin-bottom: 10px;
    }

    .mb25 {
        margin-bottom: 25px;
    }

    .mb50 {
        margin-bottom: 50px;
    }

    .mb75 {
        margin-bottom: 75px;
    }

    .mb100 {
        margin-bottom: 100px;
    }

    .mb125 {
        margin-bottom: 125px;
    }

    .mb150 {
        margin-bottom: 150px;
    }

    .mb175 {
        margin-bottom: 175px;
    }

    .mb200 {
        margin-bottom: 200px;
    }

    // padding-top
    .pt0 {
        padding-top: 0;
    }

    .pt10 {
        padding-top: 10px;
    }

    .pt25 {
        padding-top: 25px;
    }

    .pt50 {
        padding-top: 50px;
    }

    .pt75 {
        padding-top: 75px;
    }

    .pt100 {
        padding-top: 100px;
    }

    .pt125 {
        padding-top: 125px;
    }

    .pt150 {
        padding-top: 150px;
    }

    .pt175 {
        padding-top: 175px;
    }

    .pt200 {
        padding-top: 200px;
    }

    // padding-bottom
    .pb0 {
        padding-bottom: 0;
    }

    .pb10 {
        padding-bottom: 10px;
    }

    .pb25 {
        padding-bottom: 25px;
    }

    .pb50 {
        padding-bottom: 50px;
    }

    .pb75 {
        padding-bottom: 75px;
    }

    .pb100 {
        padding-bottom: 100px;
    }

    .pb125 {
        padding-bottom: 125px;
    }

    .pb150 {
        padding-bottom: 150px;
    }

    .pb175 {
        padding-bottom: 175px;
    }

    .pb200 {
        padding-bottom: 200px;
    }
}

.bg-image {
    position: relative;
    background-size: cover;
    background-position: center;
}

.hide-desktop {
    @include breakpoint($screen-sm-min) {
        display: none;
    }
}

.hide-mobile {
    display: none;
    @include breakpoint($screen-sm-min) {
        display: block;
    }
}
